*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    width: 100vw;
}

.container{
    margin-bottom: 20px;
}

.row, .row-2{
    display: flex;
    font-size: 14px;
}

div[class^="col"]{
    background-color: #006CFA;
    border: 1px solid white;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.row-2 > div[class^="col"]{
    height: 50px;
}

div[class^="col"].col-flex-nest{
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    height: 70px;
}

.nested{
    background-color: #00E165;
    border: 1px solid #006CFA;
    text-align: center;
    padding: 10px 0;
}

.row-2 .nested{
    height: 40px;
}

/* Section 5 - Alignment */

.alignment .row{
    display: flex;
}

.row-3{
    height: 100px;
}

.col-big{
    height: 100px;
}

.col-small{
    height: 50px;
}

.alignment .row:nth-child(6){
    display: flex;
    align-items: center;
}

.alignment .row:nth-child(7){
    display: flex;
    align-items: end;
}
