*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #5C94FC;
    position: relative;
}

.cloud{
    width: 200px;
}

.cloud:first-child{
    position: absolute;
    top: 100px;
    left: 10px;
}

.cloud:nth-child(2){
    position: absolute;
    top: 120px;
    right: 640px;
}

.cloud:nth-child(3){
    position: absolute;
    top: 170px;
    right: 20px;
}

.cloud .col-12 div[class^="col"]{
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

.cloud .col-12{
    height: 10px;
    display: flex;
}

.cloud .col-12:first-child{
    justify-content: space-around;
}

.cloud .col-12:nth-child(2){
    justify-content: space-around;
}

.cloud .col-12:nth-child(3){
    justify-content: space-around;
}

.cloud .col-12:nth-child(4){
    justify-content: space-around;
}

.cloud .col-12:nth-child(5){
    justify-content: space-around;
}

.cloud .col-12:nth-child(6), .cloud .col-12:last-child{
    justify-content: center;
}

.cloud .col-border-top{
    border-top: 2px solid black;
}

.cloud .col-border-bottom{
    border-bottom: 2px solid black;
}

/* PYRAMID */

.pyramid{
    width:450px;
    position: absolute;
    bottom: 100px;
    left: -40px;
}

.pyramid div[class^="col"]{
    display: flex;
    height: 40px;
}

.pyramid-row .block{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid white;
    border-top: 5px solid white;
    background-color: #DE5918;
}

/* Hill */

.hill{
    width: 270px;
    position: absolute;
    bottom: 100px;
    left: 450px;
}

.hill-2{
    width: 220px;
    position: absolute;
    bottom: 100px;
    right: 0;
}

div[class^="hill"] .row{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 14px;
}

div[class^="hill"] .row div[class^="col"]{
    background-color: #39B902;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 50px;
}

div[class^="hill"] .col-3, div[class^="hill"] .col-6{
    position: relative;   
}

.small-spot{
    height: 6px;
    width: 5px;
    background-color: black;
    border-radius: 20px;
    position: absolute;   
}

.big-spot{
    height: 8px;
    width: 5px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
}

.col-3 .small-spot{
    right: 30px;
    top: 5px;
}

.col-3 .big-spot{
    right: 20px;
    top: 3px;
}

.col-6 .small-spot{
    left: 35px;
    top: 5px;
}

.col-6 .big-spot{
    left: 45px;
    top: 3px;
}

/* Flag */

.flag-container{
    position: absolute;
    bottom: 100px;
    left: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag-base{
    height: 40px;
    width: 40px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid white;
    border-top: 5px solid white;
    background-color: #DE5918;
}

.flag-pole{
    height: 400px;
    width: 7px;
    background-color: #88D606;
}

.flag{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 23px;
}

.flag div[class^="col"]{
    background-color: white;
    height: calc(40px / 12);
}

.flag-top{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #88D606;
    border: 1px solid black;
}

/* Castle */

.castle{
    position: absolute;
    bottom: 100px;
    left: 70%;
}

.castle .col-12{
    height: 10px;
}

.castle-top, .castle-body{
    width: 110px;
    margin: 0 auto;
}

.castle-top .col-12{
    display: flex;
    justify-content: space-between;
}

.castle-top .col-12 div[class^="col"]{
    border: 1px solid black;
    background-color: #DE5918;
}


.castle-body{
    display: flex;
    background-color: #DE5918;
}

.castle-body .col-6{
    width: 50px;
}

.block{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.block div[class^="col"]{
    border: 1px solid black;
    background-color: #DE5918;
}


.castle-bottom{
    width: 180px;
}

.castle-bottom .block .door{
    display: flex;
    border: none;
}

/* bottom */

.bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom .row{
    display: flex;
    background-color: #DC722A;
}

.bottom .col-1{
    display: flex;
}

.bottom .col-1 .col-6{
    border: 1px solid black;
    position: relative;
}

.crack{
    height: 25px;
    width: 2px;
    background-color: black;
}

.bottom .col-6 .crack:first-child{
    margin-left: 1px solid black
}

/* super-mario */

.super-mario{
    width: 70px;
    height: 100px;
    position: absolute;
    bottom: 220px;
    left: 50%;
}

.super-mario .flex-nest{
    width: 100%;
    display: flex;
}

.super-mario div[class^="col"]{
    height: 3.5px;
}

.red{
    background-color: #E32020;
}

.skin{
    background-color: #FFBF8F;
}

.brown{
    background-color: #62483A;
}

.black{
    background-color: black;
}

.background{
    background-color: #5C94FC;
}

.yellow{
    background-color: yellow;
}

