*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #5C94FC;
    position: relative;
}

.cloud{
    width: 200px;
    position: absolute;
}

.cloud:first-child{
    position: absolute;
    top: 100px;
}

.cloud:nth-child(2){
    position: absolute;
    top: 150px;
    left: 600px;
}

.cloud:nth-child(3){
    position: absolute;
    top: 110px;
    right: 10px;
}

.cloud .col-12 div[class^="col"]{
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

.cloud .col-12{
    height: 10px;
    display: flex;
}

.cloud .col-12:first-child{
    justify-content: space-around;
}

.cloud .col-12:nth-child(2){
    justify-content: space-around;
}

.cloud .col-12:nth-child(3){
    justify-content: space-around;
}

.cloud .col-12:nth-child(4){
    justify-content: space-around;
}

.cloud .col-12:nth-child(5){
    justify-content: space-around;
}

.cloud .col-12:nth-child(6), .cloud .col-12:last-child{
    justify-content: center;
}

.cloud .col-border-top{
    border-top: 2px solid black;
}

.cloud .col-border-bottom{
    border-bottom: 2px solid black;
}

/* PYRAMID */

.pyramid{
    width:450px;
    position: absolute;
    bottom: 100px;
    left: -40px;
}

.pyramid div[class^="col"]{
    display: flex;
    height: 40px;
}

.pyramid-row .block{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid white;
    border-top: 5px solid white;
    background-color: #DE5918;
}

/* Hill */

.hill{
    width: 270px;
    position: absolute;
    bottom: 100px;
    left: 450px;
}

.hill .row{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 14px;
}

.hill .row div[class^="col"]{
    background-color: #39B902;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 50px;
}

.hill .col-3, .hill .col-6{
    position: relative;   
}

.small-spot{
    height: 6px;
    width: 5px;
    background-color: black;
    border-radius: 20px;
    position: absolute;   
}

.big-spot{
    height: 8px;
    width: 5px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
}

.col-3 .small-spot{
    right: 30px;
    top: 5px;
}

.col-3 .big-spot{
    right: 20px;
    top: 3px;
}

.col-6 .small-spot{
    left: 35px;
    top: 5px;
}

.col-6 .big-spot{
    left: 45px;
    top: 3px;
}

/* Flag */

.flag-container{
    position: absolute;
    bottom: 100px;
    right: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag-base{
    height: 40px;
    width: 40px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid white;
    border-top: 5px solid white;
    background-color: #DE5918;
}

.flag-pole{
    height: 400px;
    width: 7px;
    background-color: #88D606;
}

.flag{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 23px;
}

.flag div[class^="col"]{
    background-color: white;
    height: calc(40px / 12);
}

.flag-top{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #88D606;
    border: 1px solid black;
}

/* Castle */

.castle{
    position: absolute;
    bottom: 100px;
    right: 200px;
}

.castle .col-12{
    height: 10px;
}

.castle-top, .castle-body{
    width: 100px;
    margin: 0 auto;
}

.castle-top .col-12{
    display: flex;
    justify-content: space-between;
}

.castle-top .col-12 div[class^="col"]{
    border: 1px solid black;
    background-color: #DE5918;
}


.castle-body{
    display: flex;
    background-color: #DE5918;
}

.castle-body .col-6{
    width: 50px;
}

.block{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.block div[class^="col"]{
    border: 1px solid black;
    background-color: #DE5918;
}


.castle-bottom{
    width: 170px;
}

.castle-bottom .block .door{
    display: flex;
    border: none;
}

/* .door{
    display: flex;
    justify-content: space-between;
    background-color: black;
} */



/* DEBUG */

/* .cloud{
    border: 2px solid white;
}

.row .col-12{
    border: 1px solid fuchsia;
} 



.pyramid{
    border: 2px solid white;
    left: -40px;
}

*/
